---
import LinkButton from "../components/common/LinkButton.astro";
import BlogCatalog from "../layouts/common/BlogCatalog.astro";
import ContactForm from "../layouts/common/ContactForm.astro";
import Footer from "../layouts/common/Footer.astro";
import ScrapForm from "../layouts/common/ScrapForm.astro";
import Services from "../layouts/common/Services.astro";
import GridProducts from "../layouts/home/GridProducts.astro";
import Hero from "../layouts/home/Hero.astro";
import Partners from "../layouts/home/Partners.astro";
import QuoteProcess from "../layouts/home/QuoteProcess.astro";
import Solutions from "../layouts/home/Solutions.astro";
import MainLayout from "./../layouts/common/MainLayout.astro"
---

<MainLayout currentPage="inicio">
	<Hero/>
	<Services/>
	<GridProducts/>
	<Solutions/>
	<QuoteProcess/>
	<BlogCatalog >
		<div class="w-full flex justify-center items-center">
			<div class="w-full sm:w-fit">
				<LinkButton link={{
					text: 'ver más entradas',
					link: '/blog'
				}}  />
			</div>
		</div>
	</BlogCatalog>
	<ContactForm/>
	<Partners/>
	<ScrapForm/>
	<Footer/>
</MainLayout>