---
import TitleSection from "../../components/common/TitleSection.astro";
import Container from "../common/Container.astro";

---

<Container subtitleText="nuestros socios comerciales" subtitleTextLineColor="#FFC630">
    <div class="w-full flex flex-col gap-4 sm:gap-9">
        <TitleSection text1="unión y " text2="confianza" textColor1="text-black" textColor2="text-reciclacel_green" />
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-5 md:gap-10 w-full">
            <div class="w-full flex justify-start lg:justify-center items-center"><img class="w-full sm:w-3/4 lg:w-full h-auto object-contain" src="/img/partners/sigma.webp" /></div>
            <div class="w-full flex justify-end md:justify-center items-center"><img class="w-full sm:w-3/4 lg:w-full h-auto object-contain" src="/img/partners/capistrano.webp" /></div>
            <div class="w-full flex justify-start md:justify-end lg:justify-center items-center"><img class="w-full sm:w-3/4 lg:w-full h-auto object-contain" src="/img/partners/elmexicano.webp" /></div>
            <div class="w-full flex justify-end md:justify-start lg:justify-center items-center"><img class="w-full sm:w-3/4 lg:w-full h-auto object-contain" src="/img/partners/fud.webp" /></div>
            <div class="w-full flex justify-start md:justify-center items-center"><img class="w-full sm:w-3/4 lg:w-full h-auto object-contain" src="/img/partners/omex.webp" /></div>
            <div class="w-full flex justify-end lg:justify-center items-center"><img class="w-full sm:w-3/4 lg:w-full h-auto object-contain" src="/img/partners/yoplait.webp" /></div>
        </div>
    </div>
</Container>