---
import SubtitleWithLine from "../../components/common/SubtitleWithLine.astro";

export interface Props {
    background?: string
    subtitleText: string
    subtitleTextColor?: string
    subtitleTextLineColor: string
}

const { background = "bg-white", subtitleText, subtitleTextColor = "text-black", subtitleTextLineColor } = Astro.props
---

<section class:list={["w-full overflow-hidden", background]}>
    <div class="max-w-full xl:max-w-7xl 2xl:max-w-[95.5rem] 3xl:max-w-[120rem] mx-auto px-5 py-20 lg:py-32 flex flex-col">
        <SubtitleWithLine text={subtitleText} textColor={subtitleTextColor} color={subtitleTextLineColor} />
        <slot/>
    </div>
</section>

<style>
    span::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 2px;
        width: 1000%;
        left: -1000%;
        background: #4BB3FD;
    }

    @media screen and (min-width: 1920px) {
        span::before {
            height: 4px;
        }
    }
</style>