---
export interface Props {
    text: string
    link: string
}

const { text, link } = Astro.props
---

<li class="flex gap-2 items-center">
    <a class="leading-6 text-sm md:text-base 3xl:text-xl 4xl:text-2xl uppercase font-semibold font-archivo text-white" href={link}>{text}</a>
</li>