---
export interface Props{
    text1: string,
    textColor1?: string,
    text2?: string,
    textColor2?: string
}

const { text1 = "", textColor1 = "text-black", text2 = "", textColor2 = "text-black" } = Astro.props
---

<h2 class="text-3xl 3xl:text-4xl 4xl:text-5xl font-kanit font-bold uppercase hyphens-auto" lang="es">
    <span class:list={[textColor1]}>{ text1 }</span>
    <span class:list={[textColor2]}>{ text2 }</span>
</h2>